@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    outline: currentcolor none medium;
    text-decoration: none;
    color: inherit;
}

body {
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    color: rgb(58, 52, 58);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 1.4;
    text-rendering: optimizelegibility;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.mainSection-wrapper {
    flex-grow: 1;
}

.mainSection {
    //background: rgba(0, 40, 126, 0.44); //DEBUG

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3em 1em;

    // Mobile-friendly
    @media (max-width: 768px) { flex-direction: column; }

    .sidebar {
        //background: rgba(255, 0, 0, 0.6); //DEBUG

        max-width: 21rem;
        margin-right: 1rem;
        padding: 1rem 2rem 1rem 1rem;
        font-size: 80%;

        .nameLink .name {
            font-weight: 700;
            margin: 0.5em 0em;
        }

        .avatar {
            overflow: hidden;
            border-radius: 50%;
        } 

        .links {
            display: flex;
            justify-content: space-between;
            margin-top: 0.7em;
            opacity: 0.7;
            
            border-bottom: 1px solid transparent;
            span { margin-bottom: 0.5em; }
            a:hover { border-bottom: 1px solid rgb(76, 86, 106); }
        }

        .nav-ul {
            list-style-type: none;
            padding: 1em 0em;

            & > li {
                margin-left: -0.5em;
                padding-left: 0em;
                margin-bottom: 0.7rem;

                a {
                    outline: currentcolor none medium;
                    border-left: 1px solid transparent;
                    padding: 0.5em;
                    font-weight: 700;

                    &:hover { border-left: 1px solid lightgray; }
                }

                & > a.active {
                    border-left: 1px solid rgb(76, 86, 106);
                }
            }

        }
    }

    .content {
        //background: rgba(0, 255, 0, 0.6); //DEBUG
        border: 2px green dashed; //DEBUG
        //min-width: 42rem;
        max-width: 680px;
        padding: 1em;
        flex-grow: 1;
    }
}

.footer {
    padding: 1em;
    color: rgb(216, 222, 233);
    text-align: center;
    max-width: 648px;
    margin: 0px auto;
    font-size: 80%;
}
